.table {  
  background-color: #212121;  
}

.service:hover {
  background-color: #f3f3f3;
  color: #212121;
}

.btn-dark {
  color: #fff;
  background-color: #545b65;
  border-color: #545b65;
}

.btn-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.title, .title-week, .title-month {
  color: white;
}

.search-input {
  background-color: #212121 !important;
  color: #fff !important;
}

.morning, 
.afternoon {
  background-color: #393939;
  color: #fff;
}

.search-button {    
  color: #fff;
}

.modal-content {
  background-color: #212121;
  color: #fff;  
}

.icon-text {
  color: #fff;
}

.modal-left .modal-text-gray
{
  color: #fff;
}

.modal-left .modal-text {
  color: #fff;
}

.row-day
{
  background-color: #212121 !important;
}

.calendar-day-holiday {
  color: black !important;
}

.row-day>div:hover {
    color: black !important;
}

/* Atualizado 05-06-2025 */
